html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
	font-family: 'Montserrat';
}


.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e1e1e1;
	width: 100vw;
	height: 50px;
	font-size: larger;
	font-weight: 500;
	box-shadow: 0px 0px 5px 0px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e1e1e1;
	width: 100vw;
	height: 50px;
	box-shadow: 0px 0px 5px 0px;
}

.form-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 50%;
	background-color: #ffffff;
}

.form-section fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.form {
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0px 0px 5px 0px;
	background-color: #e1e1e1;
}

.form input {
	height: 30px;
	width: 200px;
}

.products-section {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.products-list {
	height: 100%;
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.products-item {
	height: 100px;
	width: 200px;
	border: solid 1px #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.products-item p {
	font-weight: 600;
	font-size: larger;
}

.products-item strong {
	font-weight: 800;
	font-size: larger;
}